html, body {
    font-family: "Cormorant Garamond";
    font-size: 70px;
}

h2 {
    font-size: 90px;
    font-weight: 900;
}

/* */ 

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    resize: both;
    z-index: -1;
}

.backgroundPic {
    z-index: -1;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    float: center;
    max-width: 500px;
    font-size: 25px;
    z-index: 1;
}

#map {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}

#variant {
    max-width: 1500px;
    position: absolute;
    float: left;
    font-size: 22.5px;
    font-weight: 500;
    z-index: 1;
    top: 50px;
    left: 50px;
}

#textbox {
    max-width: 400px;
    /*max-height: 2500px;*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: absolute;
    float: left;
    font-size: 17.5px;
    z-index: 1;
    top: 110px;
    left: 50px;
}

/*#textbox2 {
    max-width: 1500px;
    max-height: 2000px;
    word-wrap: normal;
    position: absolute;
    float: left;
    font-size: 70px;
    z-index: 1;
    top: 900px;
    left: 250px;
}

#textbox3 {
    max-width: 1500px;
    max-height: 2000px;
    word-wrap: normal;
    position: absolute;
    float: left;
    font-size: 70px;
    z-index: 1;
    top: 1150px;
    left: 250px;
}

#textbox4 {
    max-width: 1500px;
    max-height: 2000px;
    word-wrap: normal;
    position: absolute;
    float: left;
    font-size: 70px;
    z-index: 1;
    top: 1600px;
    left: 250px;
}

#textbox5 {
    max-width: 1500px;
    max-height: 2000px;
    word-wrap: normal;
    position: absolute;
    float: left;
    font-size: 70px;
    z-index: 1;
    top: 2000px;
    left: 250px;
} */

/* WORDS SWAP */
[data-words]{
    vertical-align: top;
    position: static;
}

[data-words] > span{
    position: absolute;
    background-color: rgb(246, 246, 206);
}